@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --color-primary: #e2d9ce;
  --color-second: #EB8817;
  --color-third: #AE7D46;
  --color-fourth: #755531;
}

.body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-primary);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 75vw;
  grid-template-rows: subgrid;
}

.txt-lg{
  font-size: 2.8rem;
}

.txt-md{
  font-size: 1.8rem;
}

.txt-sm{
  font-size: 1.4rem;
}

.header{
  display: flex;
  flex-direction: column;
  margin-block-start: 25px;
}

.txt-sm{
  color: var(--color-third);
}

.counters{
  margin-top: 20px;
  position: sticky;
  top: 0;
  background-color: var(--color-second);
  padding-block: 10px;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
  z-index: 2;
}

.counters .txt-md{
  color: white;
}

.main{
  display: grid;
  grid-template-rows: max-content max-content max-content;
  
  min-height: 85vh;
}

.footer{
  margin-block: 20px;
}

.images_container{
  margin-top: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
}

.images_container img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}

.image_wrapper{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  background: var(--color-third)
}

.load_circle{
  position: absolute;
  top: calc( (250px/2) - (70px/2) - 10px);
  left: calc( (250px/2) - (70px/2));
  width: 70px;
  height: 70px;
  border: 10px solid  ;
  border-radius: 50%;
  border-color: var(--color-third);
  border-top-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}

.btn-wrapper{
  display: flexbox;
  justify-content: center;
  gap: 25px;
}

.btn{
  margin-top: 20px;
  background-color: var(--color-second);
  border: none;
  border-radius: 25px;
  color: white;
  width: 150px;
  height: 40px;
  padding: 6px;
  cursor: pointer;
}

.btn:active{
  background-color: var(--color-third);
}